* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-logo {
  color: #000000;
  font-weight: 800;
  font-size: 35px;
}
.site-logo span {
  color: #fd6e0a;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-des {
  color: #757575;
  text-align: center;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  line-height: 1.5;
}

main {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

header {
  width: 100%;
  height: 100vh;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  padding: 20px;
}
.navbar-brand {
  text-decoration: none;
}
.navbar-nav {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}
.navbar-nav a {
  text-decoration: none;
  color: #000000;
}

.btn-primary,
.btn-sec {
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.btn-primary {
  background: #fd6e0a;
  color: #ffffff;
  border: 0;
}
.btn-sec {
  background: #ffffff;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

/* banner styles */
.banner {
  padding: 30px 80px 0px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 700px;
  position: relative;
}
.acent-img {
  position: absolute;
  left: 40px;
  top: -50px;
  width: 80px;
}
.banner-img {
  width: 400px;
  height: auto;
}
.banner-content {
  max-width: 500px;
}

.banner-greeting {
  font-size: 40px;
  color: #474747;
  font-weight: 500;
}

.banner-headding {
  font-size: 65px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
}

.banner p {
  margin-bottom: 20px;
  color: #757575;
}

/* about styles */
.about {
  padding: 150px;
  background-color: #e9ded7;
  margin: 80px 0;
  border-radius: 5px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}
.info .info-title {
  font-weight: normal;
  color: #a3a3a3;
  font-size: 18px;
}
.info .info-des {
  font-weight: bold;
  color: #757575;
  font-size: 18px;
}
